body{
	background-color: white;
    color: black;
}
.contain{
        width: 100%;
    }
    
.col-md-2{
	padding-right: 1px;
	padding-left:1px;
}
.col-md-10 {
	background-color: white;
}

.panel{
	box-shadow: none;
    
}
.panel-default{
    border: none;
}
.avatar{
        border-radius: 100%;
        max-width: 80px;
}
 tr.spaceUnder >td{
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
    border: 1px solid #3097D1;
    /*border-top: 1px solid #3097D1;*/
}
tr.spaceUnder >th {
     padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
    padding-top: 15px;
    color: #3097D1;
    border: 1px solid #3097D1;
}

ul.custom-class{
    font-size: 15px
}

.panel-body{
    height: 500px;
}
.nav-bg{
        background-color: #222d32;
        height: 100%;
}
.list-group{
    height: 900px;
}

.list-group-item{
    background-color: #222d32;
    border: none;
    color: white;
    padding:15px 15px;
    border-bottom: 1px solid #222d32;
}
.list-group-item a{
    color: #b8c7ce;
}

.list-group-item-custom{
    background-color: #1a2226;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 100px;
    padding: 35px 15px;
  font-family: "FontAwesome";
}

.wrapper a:hover{
    color: white;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

input[type='file']{
  /*color:blue;
  font-size:25px;*/
}

